<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>INDEX</title>
  </head>
  <body>

    <form action="{% url 'count' %}" >
      {% csrf_token %}
      <textarea name="fulltext" rows="8" cols="80"></textarea>
      <br>
      <input type="submit" name="" value="Count">
      <br>
      <!-- {{ pagename }} -->
      <br>

      <!-- <a href="{% url 'about' %}"> <input type="submit" name="" value="About"> </a> -->

    </form>

     <form class="" action={% url 'about' %} >
      <input type="submit" name="" value="About">
    </form>
  </body>
</html>
